    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        width: 1366px;
        height: 4167px;
    }
    nav {
      list-style: none;
      display: inline-block;
      p {
        justify-content: center;
        align-items: center;
        display: inline;
        float: left;
        padding: 15px;
        margin-top: 23px;
        height: 50px;
        width: 145px;
        color: white;
        font-size: 14px;
        font-family: Mada;
        text-align: center;  
        border-left: 1px solid white;
      }
      p:nth-last-child(-n + 1) {
        border-right: 1px solid white;
      }
    }
    .layer_1st{
      width: 1366px;
      height: 650px;
      background: rgba(30,31,29,1);
      background: -moz-linear-gradient(-45deg, rgba(30,31,29,0.7) 6%, rgba(87,158,20,0.7) 35%, rgba(126,246,14,0.73) 55%, rgba(129,240,25,0.32) 85%, rgba(138,231,39,0.11) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(6%, rgba(30,31,29,0.7)), color-stop(35%, rgba(87,158,20,0.7)), color-stop(55%, rgba(126,246,14,0.73)), color-stop(85%, rgba(129,240,25,0.32)), color-stop(100%, rgba(138,231,39,0.11)));
      background: -webkit-linear-gradient(-45deg, rgba(30,31,29,0.7) 6%, rgba(87,158,20,0.7) 35%, rgba(126,246,14,0.73) 55%, rgba(129,240,25,0.32) 85%, rgba(138,231,39,0.11) 100%);
      background: -o-linear-gradient(-45deg, rgba(30,31,29,0.7) 6%, rgba(87,158,20,0.7) 35%, rgba(126,246,14,0.73) 55%, rgba(129,240,25,0.32) 85%, rgba(138,231,39,0.11) 100%);
      background: -ms-linear-gradient(-45deg, rgba(30,31,29,0.7) 6%, rgba(87,158,20,0.7) 35%, rgba(126,246,14,0.73) 55%, rgba(129,240,25,0.32) 85%, rgba(138,231,39,0.11) 100%);
      background: linear-gradient(135deg, rgba(30,31,29,0.7) 6%, rgba(87,158,20,0.7) 35%, rgba(126,246,14,0.73) 55%, rgba(129,240,25,0.32) 85%, rgba(138,231,39,0.11) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1f1d', endColorstr='#8ae727', GradientType=1 );

    }
    .background_1st {
      background-repeat: no-repeat;
      background-size:cover;
      background-image: url("../images/chips-circuit-board-computer-4316.jpg");
      position: relative;
      width: 1366px;
      height: 650px;
    }
    .container_1st {
      margin-left: 208px;
      margin-right: 178px;
    }
    .section_1st {
      width: 950px;
      height: 650px;
      font-family: Homenaje;
      h1 {
        padding-top: 180px;
        font-size: 58px;
        text-align: center;
        font-weight: bold;
        color: white;
      }
      h2 {
        font-size: 58px;
        text-align: center;
        font-weight: bold;
        color: black
      }
    }
    .logo{
      display: inline-block;
      float: left;
      width: 98px;
      height: 81px;
      background-image: url("../images/Vector Smart Object.png");
      border-top: 12px solid lightgreen;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 98px;
    }
    .cookies {
      margin-top: -100px;
      width: 1366px;      
      height: 100px;
      position: fixed;
      background-color: rgba(44, 44, 44, 0.6);
      background: rgba(44, 44, 44, 0.6);
      p {
        padding-top: 20px;
        text-align: justify;
        color: white;
        font-size: 14px;
        float: left;
        display: block;
        width: 686px;
        height: 100px;
      }
      button {
        font-size: 14px;
        font-family: Mada;
        margin-right: 208px;
        float: left;
        margin-left: 58px;
        margin-top: 40px;
        height: 25px;
        width: 84px;
        border-radius: 5px;
        background-color: lightgreen;
        border-style: none;
      }
    }
    .cookie_monster {
      margin-left: 255px;
      width: 45px;
      height: 87px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../images/Forma 1.png");
      float: left;
      display: inline-block;
      background-position: unset;
      background-position-x: center;
      background-position-y: 23px;
      margin-right: 30px;
}
      
    .section_2nd {
      width: 1366px;
      height: 550px;
      background-color: white;
    }
    .container_2nd {
      margin-left: 208px;
      margin-right: 178px;
      p {
        padding-top: 85px;
        font-size: 50px;
        font-family: Homenaje;
        text-align: center;
      }
      p:nth-last-child(-n + 1){
        font-size: 22px;
        font-family: Mada;
      }
    }
    
    .doubles {
      font-size: 61px;
      font-family: Mada-light;
      float: left;
    }
    
  